@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  padding: 0px;
  margin:0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background-color: rgb(5, 9, 7);
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 900;

}

.content {
  display: flex;
  flex: 1;
}


.sidebar {
  width: 300px;
  background-color: #eee;
  flex-shrink: 0;
  gap: 88px;
  padding: 16px;
}

.sidebar-content {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 16px rgba(0,0,0,.06);
  gap: 8px;
}
ul {
  list-style-type: none;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(4, 13, 26);
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.main-button {
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px;
}

.card {
  border: 2px solid #eee;
  border-radius: 6px;
  box-shadow: 4px 4px 16px rgba(0,0,0,.06);
  padding: 16px;
  width: 300px;
  /* height: 200px; */
}
.footer {
  display: flex;
  justify-content: center;
  background: rgb(232, 228, 228) ;
  padding: 20px;
}

